# Python
__pycache__/
*.pyc

# Virtual environment
venv/

# Database
db.sqlite3

# Logs
*.log

# Environment variables / secret keys
*.env

# VS Code settings
.vscode/

# Vue
vue-contacts/

#.env
.env